/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.panel {
	height:100%;
	width:100%;
	border-top: 0px solid #FFAAAA;
	border-right: 0px solid #FFAAAA;
	border-bottom: 0px solid #FFAAAA;
	border-left: 1px solid #FFAAAA;
	/*background-color: #eeeeff;*/
}

.left-vertical-line {
	border-top: 0px solid #FFAAAA;
	border-right: 0px solid #FFAAAA;
	border-bottom: 0px solid #FFAAAA;
	border-left: 1px solid #FFAAAA;
}

.error-label {
    font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#A00000;
	font-weight:normal;
}

.message-label {
color: green;
aligh: left;
}

.field-caption {
  color: black;
  font-weight: normal;
}

.field-caption-error {
  color: black;
  font-weight: bold;
}

.search-results-head {
  color: black;
  background-color: #EEAAAA; 
  font-weight: bold;
}

.search-results-row-even {
  color: black;
  background-color: #FFFEFE;	
}

.search-results-row-odd {
  color: black;
  background-color: #FFEEEE;	
}

.menu-item-highlight {
  color: black;
  cursor:pointer;
  font-weight: bolder;
  background-color: #FFAAAA;	
}

.menu-item-unhighlight {
  color: blue;
  font-weight: normal;
  cursor:pointer;
  background-color: ;	
}

.menu-item-hover-in {
	text-decoration:underline;
}
.title-panel {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	font-family: Arial,sans-serif;
}

.section-title-panel {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	font-family: Arial,sans-serif;
}

.application-header {
	background-image: URL('Ebilly.png');
	background-repeat: no-repeat;
	background-position:left;
	background-size: contain;
	background-color: d4e8e9;
}

.gwt-Label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#330000;
}

.data-label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#880000;
	font-weight:bold;
	word-wrap:break-word;
}

.search-view-data-label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	word-wrap:break-word;
}

.scroll-panel {
	width:100%;
	height:100px;
	overflow-y:scroll;
}

/* Menu related style classes */
.menu-left {
	
}

.menu-left ul {
	/* border: solid;
	background-color: #EEEEFF;
	border-color: #DDDDFF; */
	border-width: 1px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.menu-left-group-head {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	font-weight: bold; 
}

.menu-left li {
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	padding-top: 0.2em;
	padding-right: 0px;
	padding-bottom: 0.2em;
	padding-left: 10px;
}

.menu-left ul .selected {
	background-color: #ffaaaa;
	color: #000;
	text-decoration: none;
	z-index: 2;
	position: relative;
	cursor: pointer;
}

.menu-left ul .hover {
	background-color: #f9ece5;
	color: #000;
	text-decoration: none;
	z-index: 2;
	position: relative;
	cursor: pointer;
}
/** End Menu related Classes */

.AppViewPanel {
	margin: 10px;
}