/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.panel {
	height:100%;
	width:100%;
	border-top: 0px solid #AAAAFF;
	border-right: 0px solid #AAAAFF;
	border-bottom: 0px solid #AAAAFF;
	border-left: 1px solid #AAAAFF;
	/*background-color: #eeeeff;*/
}

.left-vertical-line {
	border-top: 0px solid #AAAAFF;
	border-right: 0px solid #AAAAFF;
	border-bottom: 0px solid #AAAAFF;
	border-left: 1px solid #AAAAFF;
}

.error-label {
    font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#A00000;
	font-weight:normal;
}

.message-label {
color: green;
aligh: left;
}

._field-caption {
  color: black;
  font-weight: normal;
}

.field-caption {
  	font-size: 0.9em;
	font-weight: normal;
	color: rgb(100, 100, 100);
	text-shadow: 1px 1px 1px rgba(235, 235, 235, 0.3);
	word-wrap:break-word;
	/* font-size: 0.8em;
	font-weight: normal;
	color: rgb(10, 10, 10);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	word-wrap:break-word; */
}

.field-caption-mandatory {
	color: red;
	font-weight: bold;
}	

.field-caption-error {
	font-size: 0.9em;
	font-weight: bold;
	color: red;
	text-shadow: 1px 1px 1px rgba(235, 235, 235, 0.3);
	word-wrap:break-word;
}

.field-caption div {
	display: inline;
	padding-right: 5px;
}

.search-results-head {
  color: black;
  background-color: #AAAAEE; 
  font-weight: bold;
}

.search-results-row-even {
  color: black;
  background-color: #FEFEFF;	
}

.search-results-row-odd {
  color: black;
  background-color: #EEEEFF;	
}

.menu-item-highlight {
  color: black;
  cursor:pointer;
  font-weight: bolder;
  background-color: #AAAAFF;	
}

.menu-item-unhighlight {
  color: blue;
  font-weight: normal;
  cursor:pointer;
  background-color: ;	
}

.menu-item-hover-in {
	text-decoration:underline;
}
.title-panel {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	font-family: Arial,sans-serif;
}

.section-title-panel {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	font-family: Arial,sans-serif;
}

.application-header {
	background-image: URL('Ebilly.png');
	background-repeat: no-repeat;
	background-position:left;
	background-size: contain;
	background-color: d4e8e9;
	height: 50px;
}

.gwt-Label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#000033;
}

.data-label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	color:#880000;
	font-weight:bold;
	word-wrap:break-word;
}

.search-view-data-label {
	font-family:"verdana",Times,serif; 
	font-size:1.0em;
	word-wrap:break-word;
}

.scroll-panel {
	width:100%;
	height:100px;
	overflow-y:scroll;
}

/* Menu related style classes */
.menu-left {
	
}

.menu-left ul {
	/* border: solid;
	background-color: #EEEEFF;
	border-color: #DDDDFF; */
	border-width: 1px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu-left-group-head {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	font-weight: bold; 
}

.menu-left li {
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	padding-top: 0.2em;
	padding-right: 0px;
	padding-bottom: 0.2em;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu-left ul .selected {
	background-color: #aaaaff;
	color: #000;
	text-decoration: none;
	z-index: 2;
	position: relative;
	cursor: pointer;
}

.menu-left ul .hover {
	background-color: #e5ecf9;
	color: #000;
	text-decoration: none;
	z-index: 2;
	position: relative;
	cursor: pointer;
}
/** End Menu related Classes */

.AppViewPanel {
	margin: 10px;
}

.body1 {
	background-color: #FFFFFF;
	background-image: URL('Ebilly.png');
	background-repeat: no-repeat;
	background-position: center;
}

.body {
	background-image: url('icons/debut_light.png'); 
	background-position: initial initial; 
	background-repeat: initial initial;
}

.working {
	position: fixed;
	top: 35px;
	right: 0px;
	border: 1px solid rgb(216, 207, 200);
	padding: 5px 10px ;
	text-align:center;
	opacity: 1;
	
	border-radius: 5px;
	-webkit-transition: opacity 0.2s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: opacity 0.2s ease-out;  /* FF4+ */
	-ms-transition: opacity 0.2s ease-out;  /* IE10? */
	-o-transition: opacity 0.2s ease-out;  /* Opera 10.5+ */
	transition: opacity 0.2s ease-out;
}

.work-done{
	opacity: 0;
	filter:alpha(opacity=0);
}

.message-normal {
	background-color: rgb(247, 255, 66);
}

.message-error {
	background-color: #FF5555;
}

.debug {
	border-top: 1px solid #AAAAFF;
	border-right: 1px solid #AAAAFF;
	border-bottom: 1px solid #AAAAFF;
	border-left: 1px solid #AAAAFF;
}

.progress-bar {
	background-image: url("bussy-animation.gif");
	background-size:contain;
	background-repeat:no-repeat;
}

._help {
	background-image: URL('icons/help-icon.png');
	background-repeat: no-repeat;
	background-position:left;
	background-size: contain;
	background-color: d4e8e9;
}

.app-Button {
	padding: 0.3em 0.6em;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;
	background-color: #333;
	color: #fff;
	border: 1px solid #000!important;
	border-radius: 3px;
}

.app-Button:hover {
	border-color: #939393;
}

.help {
	border-radius: 50px;
	border: 1px solid #88b9c9;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #e5f6fb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e5f6fb) );
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #e5f6fb 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #e5f6fb 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #e5f6fb 100%);
	background: linear-gradient(top, #FFFFFF 0%, #e5f6fb 100%);
	color: #298cac;
	font-size: 12px;
	font-weight: bold;
	padding: 0 4px;
	position: relative;
	text-decoration: none;
	width: 10px;
	text-align: center;
	display: inline;
	zoom: 1;
	cursor:help;
}

.device-dashboard {
	padding: 5px;
}

.deviceSummary {
	width: 100%;
	height: auto;
	padding: 5px;
	display: block;
	border-radius: 6px;
	border: 1px solid rgb(143, 143, 245);
	background-color: rgb(200, 200, 245);
	box-shadow: 0px 1px 4px 1px rgb(236, 236, 236);
}

.db-outset {
	background: #2a95df;
	background: linear-gradient(top,#79bef0 0,#79bef0 30%,#017fd6 90%);
	background: -webkit-linear-gradient(top,#79bef0 0,#79bef0 30%,#017fd6 90%);
	background: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0,#79bef0),color-stop(0.3,#79bef0),color-stop(0.9,rgb(1, 127, 214)));
	background: -moz-linear-gradient(top,#79bef0 0,#79bef0 30%,#017fd6 90%);
	/* display: inline-block; */
	vertical-align: top;
	padding: 3px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.db-inset {
	-webkit-box-shadow: inset 0 6px 10px rgba(20,20,20,0.2);
	-moz-box-shadow: inset 0 6px 10px rgba(20,20,20,0.2);
	box-shadow: inset 0 6px 10px rgba(20,20,20,0.2);
	border-radius: 5px;
	border-color: #2a95df;
	border-color: #79bef0 #79bef0 #017fd6;
	display: block;
	height: auto;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/* padding: 2px; */
	padding-left: 10px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
}

.dashboardBody {
	overflow: auto;
   	/* margin-top: 10px; */
   	zoom: 1;
}

.deviceInfo {
	/* margin-left: 0%;
	margin-top: 1%; */
	padding: 5px;
	height: auto;
	min-height: 300px;
	float: left;
	width: 30%;
	/* 
	border-radius: 6px;
	border: 1px solid rgb(143, 143, 245);
	background-color: rgb(200, 200, 245); 
	-webkit-box-sizing	: border-box;
    -moz-box-sizing		: border-box;
    box-sizing			: border-box;
    box-shadow: 0px 1px 4px 1px rgb(236, 236, 236);*/
}

.deviceContent {
	/* margin-left: 1%;
	margin-top: 1%; */
	padding: 5px;
	min-height: 300px;
	height: auto;
	margin: auto;
	width: 50%;
	
	/*
	border-radius: 6px;
	border: 1px solid rgb(143, 143, 245);
	background-color: rgb(200, 200, 245); 
	-webkit-box-sizing	: border-box;
    -moz-box-sizing		: border-box;
    box-sizing			: border-box;
    box-shadow: 0px 1px 4px 1px rgb(236, 236, 236);*/
}

.deviceActions {
	/* margin-left: 1%;
	margin-top: 1%; */
	padding: 5px;
	min-height: 300px;
	height: auto;
	float: right;
	width: 25%;
	/* 
	border-radius: 6px;
	border: 1px solid rgb(143, 143, 245);
	background-color: rgb(200, 200, 245); 
	-webkit-box-sizing	: border-box;
    -moz-box-sizing		: border-box;
    box-sizing			: border-box;	
    box-shadow: 0px 1px 4px 1px rgb(236, 236, 236);*/
}

.tuple-cell {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  -webkit-box-sizing	: border-box;
  -moz-box-sizing		: border-box;
  box-sizing			: border-box;
}

.data-cell {
	font-size: 1.2em;
	font-weight: bold;
	min-height: 30px;
	color: rgb(10, 10, 10);
	text-shadow: 1px 1px 1px rgba(235, 235, 235, 0.3);
	word-wrap:break-word;
}

.data-cell-editable {
	border:1px solid rgb(187, 187, 255);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.data-cell-editable:hover {
	background-color: #e5ecf9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-image: URL('icons/2edit-icon.png');
	background-repeat: no-repeat;
	background-position:right;
	background-size:38px 38px;
}

.data-cell-on-edit {
	background-color: #e5ecf9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.cell-column {
	padding: 5px;
	height: auto;
	display: inline-block;
	width: 30%;
	-webkit-box-sizing	: border-box;
    -moz-box-sizing		: border-box;
    box-sizing			: border-box;
}

.cell-command {
	min-height: 80px;
}

.waiting-status-cell {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(125, 250, 101);
	background-color: rgb(208, 255, 199);
	color: rgb(0, 0, 0);
	padding-left: 4px;
	padding-right: 4px;
}

.sent-status-cell {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(177, 177, 177);
	background-color: rgb(223, 223, 223);
	color: rgb(0, 0, 0);
	padding-left: 4px;
	padding-right: 4px;
}

.overwrite-import-method-cell {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid rgb(255, 144, 144);
	background-color: rgb(255, 216, 216);	
	color: rgb(0, 0, 0);
	padding-left: 4px;
	padding-right: 4px;
}

.append-import-method-cell {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid rgb(255, 242, 144);
	background-color: rgb(255, 255, 216);
	color: rgb(0, 0, 0);
	padding-left: 4px;
	padding-right: 4px;
}
.sent-status-cell {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(153, 152, 152);
	background-color: rgb(153, 152, 152);
	color: rgb(0, 0, 0);
}

._command-button {
	margin: 0;
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: small;
	background: url("images/hborder.png") repeat-x 0px -2077px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	border-radius: 6px;
	-moz-border-radius: 3px;
	width: 100%;
}

.command-button-save {
	background: url("icons/save.png") no-repeat;
	background-size: 22px 22px;
	xborder: 0px none;
	height: 25px;
	width: 25px;	
}

.command-button-save:hover {
	border: 1px solid;
	border-radius: 3px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-color: rgb(231, 236, 255);	
}

.button-small-save {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-repeat: no-repeat;
	background-image: url("icons/save.png");
	background-image: url("icons/save.png"), -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-image: url("icons/save.png"), -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: url("icons/save.png"),     -ms-linear-gradient(top, #ededed, #dfdfdf); /* IE10 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(153, 152, 152);;
	display:inline-block;
	color: rgba(0, 0, 0, 0.9);
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding: 12px 12px;
	text-decoration:none;
	text-shadow:1px 1px 3px #ffffff;
	background-size: 20px 20px;
	width: 25px;
	height: 25px;
	background-position: center;
}.button-small-save:hover {
	background-image: url("icons/save.png");
	background-image: url("icons/save.png"), -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-image: url("icons/save.png"), -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: url("icons/save.png"),     -ms-linear-gradient(top, #ededed, #dfdfdf); /* IE10 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	background-size: 22px 22px;
}.button-small-save:active {
	position:relative;
	top:1px;
}


.button-small-cancel {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-repeat: no-repeat;
	background-image: url("icons/close.png");
	background-image: url("icons/close.png"), -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-image: url("icons/close.png"), -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: url("icons/close.png"),     -ms-linear-gradient(top, #ededed, #dfdfdf); /* IE10 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(153, 152, 152);;
	display:inline-block;
	color: rgba(0, 0, 0, 0.9);
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding: 12px 12px;
	text-decoration:none;
	text-shadow:1px 1px 3px #ffffff;
	background-size: 16px 16px;
	width: 25px;
	height: 25px;
	background-position: center;
}.button-small-cancel:hover {
	background-image: url("icons/close.png");
	background-image: url("icons/close.png"), -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-image: url("icons/close.png"), -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-image: url("icons/close.png"),     -ms-linear-gradient(top, #ededed, #dfdfdf); /* IE10 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	background-size: 18px 18px;
}.button-small-cancel:active {
	position:relative;
	top:1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
.command-button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid rgb(153, 152, 152);;
	display:inline-block;
	color: rgba(0, 0, 0, 0.9);
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 3px #ffffff;
}.command-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.command-button:active {
	position:relative;
	top:1px;
}
.command-button:disabled {
	color: rgb(189, 189, 189);
	background: rgb(231, 231, 231);
}

.gwt-TextBox, .gwt-PasswordTextBox, .gwt-DateBox {
	border-radius: 3px;
}
.gwt-TextBox:focus, .gwt-PasswordTextBox:focus, .gwt-DateBox:focus {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px rgb(64, 79, 248);
}

a {
	color: #0066cc;
	text-decoration: none;
	padding-left: 6px;
	padding-right: 6px;
	background-color: rgb(239, 243, 255);
	border-radius: 3px;
	border: 1px solid rgb(239, 243, 255);
}

a:hover {
	text-decoration: none;
	border: 1px solid rgb(207, 218, 255);
}

.search-result-column-first {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 5px;
}

.login-panel {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: rgb(247, 247, 247);
}

.login-panel .input-label {
	padding-top: 20px;
}

.login-panel input {
	width: 200px;
}

.login-panel button {
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 0px;
	margin-right: 10px;
}

.login-panel .action-bar {
	margin-top: 30px;
}

.login-panel .left-space {
	margin-left: 20px;
}

.tile-outset {
	display: block;
	height: auto;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #dbdbdb;
	border-color: #EEE rgba(20,20,20,0.2) #d2d2d2;
	-webkit-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
	-moz-box-shadow: 0 1px 2px rgba(20,20,20,0.5);
	box-shadow: 0 1px 2px rgba(20,20,20,0.5);
	padding: 2px;
	overflow: hidden;
	margin: 5px;
}
.tile-inset {
	background: #fcfcfc;
	background: linear-gradient(top,#fdfdfd 0,#fcfcfc 10%,#f6f6f6 60%,#f0f0f0 80%,#ededed 90%);
	background: -webkit-linear-gradient(top,#fdfdfd 0,#fcfcfc 10%,#f6f6f6 60%,#f0f0f0 80%,#ededed 90%);
	background: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0,#fdfdfd),color-stop(0.1,#fcfcfc),color-stop(0.6,#f6f6f6),color-stop(0.8,#f0f0f0),color-stop(0.9,#ededed));
	background: -moz-linear-gradient(top,#fdfdfd 0,#fcfcfc 10%,#f6f6f6 60%,#f0f0f0 80%,#ededed 90%);
	display: block;
	height: auto;
	padding-top: 15px;
	position: relative;
	border-radius: 3px;
	padding: 5px;
}
.uplad-panel-dialog {
	width: 500px;
}

input[type="checkbox"] {
	height: 18px;
	width: 18px;
}

.flatMenuGroup {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: auto;
	zoom: 1;
}

.flatMenuItem {
	float: left;
	padding-top: 16px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 32px;
	cursor: pointer;
	border-bottom: 3px solid #FFF;
	color: #868080;
}

.flatMenuHeadItem {
	padding-top: 12px;
	height: 28px !important;
	font-family: Verdana Unicode MS, Verdana, sans-serif;
	font-size: 1.1em;
}

.flatMenuItem:hover {
	background-color: #EBEBEB;
	border-bottom: 3px solid #EBEBEB;	
}

.flatMenuItemSeparator {
	float: left;
	border-left: 1px solid #F0F0F0;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	height: 50px;
}

.flatMenuItemListInput {
	margin-top: 5px;
	margin-left: 9px;
	border: 0px none #FFF;
	padding-top: 0px;
	padding-left: 0px;
}

.flatMenuItemSelected {
	border-bottom: 3px solid #CA3A3A;
	color: #000;
}

.flatMenuItemSelected:hover {
	border-bottom: 3px solid #CA3A3A;
}

.flatMenuDriverPanel {
	overflow: auto;
	zoom: 1;
	border-bottom: 1px solid #EEE;
}

.flatMenuSubselectionPanel {
	overflow: auto;
	zoom: 1;
}

.dashboardPanel {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.dashboardBlock {
	position: relative;
	background-color: #FFF;
	box-shadow: 1px 1px 3px #DBDBDB;
}

.dashboardBlockSpacer {
	margin-top: 25px;
}

.dashboardBlock .search-results-head {
	background-color: #FFF;
}
.dashboardBlock .search-results-head .result-col-heading {
	background-color: #FFF;
	color: #B1B1B1;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 0.9em;
	padding-left: 6px;
	padding-top: 5px;
	
	text-align: right;
	padding-right: 12px;
}

.summaryHead .search-results-head .result-col-heading {
	text-align: left !important;
	padding-right: 0px !important;
}

.summaryHead, 
.summaryHead .search-results-row-odd,
.summaryHead .search-results-row-even,
.summaryHead .search-results-row-odd .search-view-data-label,
.summaryHead .search-results-row-even .search-view-data-label {
	font-size: 1.4em !important;
	color: #202020 !important;
	
	text-align: left !important;
}

.dashboardBlock .search-results-row-odd,
.dashboardBlock .search-results-row-even,
.dashboardBlock .search-results-row-odd .search-view-data-label,
.dashboardBlock .search-results-row-even .search-view-data-label {
	background-color: #FFF;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	word-wrap: break-word;
	color: #202020;
	
	text-align: right;
	padding-right: 6px;
}

.dashboardBlock .result-col-first,
.dashboardBlock .result-col-heading-first {
	text-align: left !important;
}

.dashboardBlock .search-results-row-even .pr-date-column,
.dashboardBlock .search-results-row-odd .pr-date-column {
	text-align: left !important;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
}

.dashboard-filter-mask {
	position: absolute;
	margin: 0px 0px 0px 0px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.13);
}